* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#bffaea, #bffacc);
}

/* HEADER */

.page-head {
    color: #097621;
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 96px;
}

/* GAME STATUS BAR */

.game-stats-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-stats {
    color: #0a8826;
    font-size: 48px;
    font-family: 'Permanent Marker', cursive;
}

/* CARDS */

.game {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
}

.card {
    position: relative;
    background-color: #000;
    height: 175px;
    width: 125px;
    color: #fff;
    font-size: 36px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateX(180deg);
}

/* ENLARGE CARD IMAGE WHEN HOVER */

.fas {
    transition: 100ms;
}

.card-back:hover i {
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
}