* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#bffaea, #bffacc);
}

/* HEADER */

.page-head {
    color: #097621;
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 5rem;
    margin: 0;
}

/* GAME STATUS BAR */

.game-stats-container {
    margin-top: -50px;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-stats {
    color: #0a8826;
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}

/* OVERLAY MESSAGES */

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #bffacc;
    font-family: 'Permanent Marker', cursive;
}

.overlay-small {
    font-size: 2.5rem;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 10vw;
    }
}

/* CARDS */

.game {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 125px;
    width: 125px;
    color: #fff;
    font-size: 2.1rem;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 10px;
    transition: transform 400ms ease-in-out;
}

.card-back {
    background-color: #0a8826;
}

.card-back:hover {
    cursor: pointer;
}

.card-front {
    transform: rotateY(180deg);
    background-color: #af9bf7;
}

/* ENLARGE CARD BACK IMAGE WHEN HOVER */

.fas {
    transition: 100ms;
}

.card-back:hover .fas {
    transform: scale(1.2);
    transition: transform 100ms ease-in-out;
}

/* MEDIA QUERIES */

@media (max-width: 650px) {
    .game {
        grid-template-columns: repeat(3, auto);
    }
    .game-stats-container {
        flex-direction: column;
        align-items: center;
    }
    .card {
        height: 100px;
        width: 100px;
    }
}
