* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#bffaea, #bffacc);
}

/* HEADER */

.page-head {
    color: #097621;
    font-family: 'Permanent Marker', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 96px;
}

/* GAME STATUS BAR */

.game-stats {
    color: #0a8826;
    font-size: 48px;
    font-family: 'Permanent Marker', cursive;
}